<% if user_signed_in? %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<%= render 'shared/user_info' %>
    </section>
		<section class="article_form">
			<%= render 'shared/task_form' %>
		</section>
	</aside><div class="jumbotron">
	<% else %>
	<h1>Welcome to ToDo<h1>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-default" %>
</div>
<% end %>

